<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.manual.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.momo.mapper.dataobject.UserGroupDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_group_name" jdbcType="VARCHAR" property="userGroupName" />
        <result column="sys_account_start_time" jdbcType="TIMESTAMP" property="sysAccountStartTime" />
        <result column="sys_account_end_time" jdbcType="TIMESTAMP" property="sysAccountEndTime" />
        <result column="sys_open_day" jdbcType="INTEGER" property="sysOpenDay" />
        <result column="sys_create_account_num" jdbcType="INTEGER" property="sysCreateAccountNum" />
        <result column="sys_open_account_num" jdbcType="INTEGER" property="sysOpenAccountNum" />
        <result column="name_top" jdbcType="VARCHAR" property="nameTop" />
        <result column="name_bottom" jdbcType="VARCHAR" property="nameBottom" />
        <result column="flag" jdbcType="INTEGER" property="flag" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, user_group_name, sys_account_start_time, sys_account_end_time, sys_open_day,
    sys_create_account_num, sys_open_account_num, name_top, name_bottom, flag, remark,
    del_flag, create_by, create_time, update_time, update_by
  </sql>
    <select id="checkNameExists" parameterType="map" resultType="int">
        select count(id) from sys_user_group
        <trim prefix="where" prefixOverrides="and">
            <if test="id!=null">
                and id !=#{id}
            </if>
            <if test="user_group_name!=null and user_group_name!=''">
                and user_group_name=#{user_group_name}
            </if>
        </trim>
    </select>
    <select id="getUserGroupPage" parameterType="map" resultMap="BaseResultMap">
        select
        id, uuid, user_group_name, sys_account_start_time, sys_account_end_time, sys_open_day,
        sys_create_account_num, sys_open_account_num, name_top, name_bottom, flag, remark,
        del_flag, create_by, create_time, update_time, update_by
        from sys_user_group
        <trim prefix="where" prefixOverrides="and">
            <if test="flag!=null">
                and flag =#{flag}
            </if>
            <if test="userGroupName!=null and userGroupName.trim()!=null">
              and  user_group_name like CONCAT('%',#{userGroupName},'%')
            </if>
        </trim>
    </select>
    <select id="getUserGroupById" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_group
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="uuid" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_group
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective" parameterType="com.momo.mapper.dataobject.UserGroupDO">
        insert into sys_user_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="userGroupName != null">
                user_group_name,
            </if>
            <if test="sysAccountStartTime != null">
                sys_account_start_time,
            </if>
            <if test="sysAccountEndTime != null">
                sys_account_end_time,
            </if>
            <if test="sysOpenDay != null">
                sys_open_day,
            </if>
            <if test="sysCreateAccountNum != null">
                sys_create_account_num,
            </if>
            <if test="sysOpenAccountNum != null">
                sys_open_account_num,
            </if>
            <if test="nameTop != null">
                name_top,
            </if>
            <if test="nameBottom != null">
                name_bottom,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="userGroupName != null">
                #{userGroupName,jdbcType=VARCHAR},
            </if>
            <if test="sysAccountStartTime != null">
                #{sysAccountStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysAccountEndTime != null">
                #{sysAccountEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysOpenDay != null">
                #{sysOpenDay,jdbcType=INTEGER},
            </if>
            <if test="sysCreateAccountNum != null">
                #{sysCreateAccountNum,jdbcType=INTEGER},
            </if>
            <if test="sysOpenAccountNum != null">
                #{sysOpenAccountNum,jdbcType=INTEGER},
            </if>
            <if test="nameTop != null">
                #{nameTop,jdbcType=VARCHAR},
            </if>
            <if test="nameBottom != null">
                #{nameBottom,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.momo.mapper.dataobject.UserGroupDO">
        update sys_user_group
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="userGroupName != null">
                user_group_name = #{userGroupName,jdbcType=VARCHAR},
            </if>
            <if test="sysAccountStartTime != null">
                sys_account_start_time = #{sysAccountStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysAccountEndTime != null">
                sys_account_end_time = #{sysAccountEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysOpenDay != null">
                sys_open_day = #{sysOpenDay,jdbcType=INTEGER},
            </if>
            <if test="sysCreateAccountNum != null">
                sys_create_account_num = #{sysCreateAccountNum,jdbcType=INTEGER},
            </if>
            <if test="sysOpenAccountNum != null">
                sys_open_account_num = #{sysOpenAccountNum,jdbcType=INTEGER},
            </if>
            <if test="nameTop != null">
                name_top = #{nameTop,jdbcType=VARCHAR},
            </if>
            <if test="nameBottom != null">
                name_bottom = #{nameBottom,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
