<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.manual.UserAccountPwdMapper">
    <resultMap id="BaseResultMap" type="com.momo.mapper.dataobject.UserAccountPwdDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="sys_user_login_name" jdbcType="VARCHAR" property="sysUserLoginName" />
        <result column="sys_user_pwd" jdbcType="VARCHAR" property="sysUserPwd" />
        <result column="sys_user_auth_salt" jdbcType="VARCHAR" property="sysUserAuthSalt" />
        <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="disabled_flag" jdbcType="INTEGER" property="disabledFlag" />
        <result column="sys_login_number" jdbcType="INTEGER" property="sysLoginNumber" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, sys_user_login_name, sys_user_pwd, sys_user_auth_salt, sys_user_id, tenant_id,
    remark,sys_login_number, disabled_flag, del_flag, create_by, create_time, update_time, update_by
  </sql>
    <select id="sysUserAccountLogin" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_account_pwd
        where sys_user_login_name = #{sysUserLoginName,jdbcType=VARCHAR}
    </select>
    <select id="sysUserAccountByUserId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_account_pwd
        where sys_user_id = #{userId,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="com.momo.mapper.dataobject.UserAccountPwdDO">
        insert into sys_user_account_pwd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="sysUserLoginName != null">
                sys_user_login_name,
            </if>
            <if test="sysUserPwd != null">
                sys_user_pwd,
            </if>
            <if test="sysLoginNumber != null">
                sys_login_number,
            </if>
            <if test="sysUserAuthSalt != null">
                sys_user_auth_salt,
            </if>
            <if test="sysUserId != null">
                sys_user_id,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="disabledFlag != null">
                disabled_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserLoginName != null">
                #{sysUserLoginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserPwd != null">
                #{sysUserPwd,jdbcType=VARCHAR},
            </if>
            <if test="sysLoginNumber != null">
                #{sysLoginNumber,jdbcType=INTEGER},
            </if>
            <if test="sysUserAuthSalt != null">
                #{sysUserAuthSalt,jdbcType=VARCHAR},
            </if>
            <if test="sysUserId != null">
                #{sysUserId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabledFlag != null">
                #{disabledFlag,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.momo.mapper.dataobject.UserAccountPwdDO">
        update sys_user_account_pwd
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserLoginName != null">
                sys_user_login_name = #{sysUserLoginName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserPwd != null">
                sys_user_pwd = #{sysUserPwd,jdbcType=VARCHAR},
            </if>
            <if test="sysLoginNumber != null">
                sys_login_number = #{sysLoginNumber,jdbcType=INTEGER},
            </if>
            <if test="sysUserAuthSalt != null">
                sys_user_auth_salt = #{sysUserAuthSalt,jdbcType=VARCHAR},
            </if>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabledFlag != null">
                disabled_flag = #{disabledFlag,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
