<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.manual.UserGroupMapper">
    <resultMap id="BaseResultMap" type="com.momo.mapper.dataobject.UserGroupDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_group_name" jdbcType="VARCHAR" property="userGroupName" />
        <result column="sys_account_start_time" jdbcType="TIMESTAMP" property="sysAccountStartTime" />
        <result column="sys_account_end_time" jdbcType="TIMESTAMP" property="sysAccountEndTime" />
        <result column="sys_open_day" jdbcType="INTEGER" property="sysOpenDay" />
        <result column="sys_create_account_num" jdbcType="INTEGER" property="sysCreateAccountNum" />
        <result column="sys_open_account_num" jdbcType="INTEGER" property="sysOpenAccountNum" />
        <result column="name_top" jdbcType="VARCHAR" property="nameTop" />
        <result column="name_bottom" jdbcType="VARCHAR" property="nameBottom" />
        <result column="flag" jdbcType="INTEGER" property="flag" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, user_group_name, sys_account_start_time, sys_account_end_time, sys_open_day,
    sys_create_account_num, sys_open_account_num, name_top, name_bottom, flag, del_flag,
    create_by, create_time, update_time, update_by
  </sql>
    <select id="getUserGroupById" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user_group
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
