<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.manual.UserMapper">
    <resultMap id="BaseResultMap" type="com.momo.mapper.dataobject.UserDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="sys_user_phone" jdbcType="VARCHAR" property="sysUserPhone" />
        <result column="sys_user_email" jdbcType="VARCHAR" property="sysUserEmail" />
        <result column="sys_user_province_name" jdbcType="VARCHAR" property="sysUserProvinceName" />
        <result column="sys_user_province" jdbcType="BIGINT" property="sysUserProvince" />
        <result column="sys_user_city_name" jdbcType="VARCHAR" property="sysUserCityName" />
        <result column="sys_user_city" jdbcType="BIGINT" property="sysUserCity" />
        <result column="sys_user_area_name" jdbcType="VARCHAR" property="sysUserAreaName" />
        <result column="sys_user_area" jdbcType="BIGINT" property="sysUserArea" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="disabled_flag" jdbcType="INTEGER" property="disabledFlag" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    </resultMap>
    <resultMap id="pageSysUserList" type="com.momo.mapper.dataobject.manual.SysUserListDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sys_user_name" jdbcType="VARCHAR" property="sysUserName" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="sys_user_phone" jdbcType="VARCHAR" property="sysUserPhone" />
        <result column="sys_user_email" jdbcType="VARCHAR" property="sysUserEmail" />
        <result column="sys_user_province_name" jdbcType="VARCHAR" property="sysUserProvinceName" />
        <result column="sys_user_province" jdbcType="BIGINT" property="sysUserProvince" />
        <result column="sys_user_city_name" jdbcType="VARCHAR" property="sysUserCityName" />
        <result column="sys_user_city" jdbcType="BIGINT" property="sysUserCity" />
        <result column="sys_user_area_name" jdbcType="VARCHAR" property="sysUserAreaName" />
        <result column="sys_user_area" jdbcType="BIGINT" property="sysUserArea" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="disabled_flag" jdbcType="INTEGER" property="disabledFlag" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <association property="userAccountPwdDO" javaType="com.momo.mapper.dataobject.UserAccountPwdDO" select="pageSysUserList_loginPwd" column="id"/>
        <collection property="roles" ofType="com.momo.mapper.dataobject.RoleDO" select="pageSysUserList_roles" column="id"/>
    </resultMap>
    <resultMap id="pageSysUserList_roles" type="com.momo.mapper.dataobject.RoleDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="sys_role_name" jdbcType="VARCHAR" property="sysRoleName" />
        <result column="sys_role_type" jdbcType="INTEGER" property="sysRoleType" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="disabled_flag" jdbcType="INTEGER" property="disabledFlag" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    </resultMap>
    <resultMap id="loginPwd" type="com.momo.mapper.dataobject.UserAccountPwdDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="sys_user_login_name" jdbcType="VARCHAR" property="sysUserLoginName" />
        <result column="sys_user_pwd" jdbcType="VARCHAR" property="sysUserPwd" />
        <result column="sys_login_number" jdbcType="INTEGER" property="sysLoginNumber" />
        <result column="sys_user_auth_salt" jdbcType="VARCHAR" property="sysUserAuthSalt" />
        <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="disabled_flag" jdbcType="INTEGER" property="disabledFlag" />
        <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />

    </resultMap>
    <sql id="Base_Column_List">
    id, sys_user_name, uuid, sys_user_phone, sys_user_email, sys_user_province_name,
    sys_user_province, sys_user_city_name, sys_user_city, sys_user_area_name, sys_user_area,
    tenant_id, remark, disabled_flag, del_flag, create_by, create_time, update_time,
    update_by
  </sql>

    <select id="pageSysUserList" parameterType="map" resultMap="pageSysUserList">
        select
        id, sys_user_name, uuid, sys_user_phone, sys_user_email, remark,update_by,create_time,disabled_flag
        from sys_user
        <trim prefixOverrides="and" prefix="where">
            <if test="tenantId!=null">
                and tenant_id = #{tenantId}
            </if>
            <if test="disabledFlag!=null">
                and disabled_flag = #{disabledFlag}
            </if>
            <if test="sysUserName!=null and sysUserName.trim()!=''">
                and sys_user_name like CONCAT('%',#{sysUserName},'%')
            </if>
        </trim>
    </select>
    <select id="pageSysUserList_loginPwd" parameterType="map" resultMap="loginPwd">
        select
        id, uuid, sys_user_login_name,disabled_flag,create_time
        from sys_user_account_pwd
        where sys_user_id=#{id}
    </select>
    <select id="pageSysUserList_roles" parameterType="map" resultMap="pageSysUserList_roles">
        SELECT
        id, sys_role_name, sys_role_type
        FROM sys_role srole
        WHERE id IN (SELECT role_id FROM sys_role_user WHERE user_id=#{id})
    </select>
    <select id="getById" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="uuid" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where uuid = #{uuid,jdbcType=VARCHAR}
    </select>
    <select id="getUserInfo" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" parameterType="com.momo.mapper.dataobject.UserDO">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sysUserName != null">
                sys_user_name,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="sysUserPhone != null">
                sys_user_phone,
            </if>
            <if test="sysUserEmail != null">
                sys_user_email,
            </if>
            <if test="sysUserProvinceName != null">
                sys_user_province_name,
            </if>
            <if test="sysUserProvince != null">
                sys_user_province,
            </if>
            <if test="sysUserCityName != null">
                sys_user_city_name,
            </if>
            <if test="sysUserCity != null">
                sys_user_city,
            </if>
            <if test="sysUserAreaName != null">
                sys_user_area_name,
            </if>
            <if test="sysUserArea != null">
                sys_user_area,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="disabledFlag != null">
                disabled_flag,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sysUserName != null">
                #{sysUserName,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserPhone != null">
                #{sysUserPhone,jdbcType=VARCHAR},
            </if>
            <if test="sysUserEmail != null">
                #{sysUserEmail,jdbcType=VARCHAR},
            </if>
            <if test="sysUserProvinceName != null">
                #{sysUserProvinceName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserProvince != null">
                #{sysUserProvince,jdbcType=BIGINT},
            </if>
            <if test="sysUserCityName != null">
                #{sysUserCityName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserCity != null">
                #{sysUserCity,jdbcType=BIGINT},
            </if>
            <if test="sysUserAreaName != null">
                #{sysUserAreaName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserArea != null">
                #{sysUserArea,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabledFlag != null">
                #{disabledFlag,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.momo.mapper.dataobject.UserDO">
        update sys_user
        <set>
            <if test="sysUserName != null">
                sys_user_name = #{sysUserName,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="sysUserPhone != null">
                sys_user_phone = #{sysUserPhone,jdbcType=VARCHAR},
            </if>
            <if test="sysUserEmail != null">
                sys_user_email = #{sysUserEmail,jdbcType=VARCHAR},
            </if>
            <if test="sysUserProvinceName != null">
                sys_user_province_name = #{sysUserProvinceName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserProvince != null">
                sys_user_province = #{sysUserProvince,jdbcType=BIGINT},
            </if>
            <if test="sysUserCityName != null">
                sys_user_city_name = #{sysUserCityName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserCity != null">
                sys_user_city = #{sysUserCity,jdbcType=BIGINT},
            </if>
            <if test="sysUserAreaName != null">
                sys_user_area_name = #{sysUserAreaName,jdbcType=VARCHAR},
            </if>
            <if test="sysUserArea != null">
                sys_user_area = #{sysUserArea,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="disabledFlag != null">
                disabled_flag = #{disabledFlag,jdbcType=INTEGER},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
