<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.DataDictDOMapper">
    <!-- 自动生成,请修改 SYS_DATA_DICT.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.DataDictDO">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="sys_dict_code_parent_id" property="sysDictCodeParentId" jdbcType="BIGINT" javaType="Long"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_name" property="sysDictCodeName" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_level" property="sysDictCodeLevel" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_value" property="sysDictCodeValue" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_html_left" property="sysDictCodeHtmlLeft" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_html_right" property="sysDictCodeHtmlRight" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dict_code_parent_value" property="sysDictCodeParentValue" jdbcType="VARCHAR" javaType="String"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER" javaType="Integer"/>
        <result column="disabled_flag" property="disabledFlag" jdbcType="INTEGER" javaType="Integer"/>
        <result column="sys_dict_code_seq" property="sysDictCodeSeq" jdbcType="INTEGER" javaType="Integer"/>
        <result column="sys_dict_code_html_apply" property="sysDictCodeHtmlApply" jdbcType="INTEGER" javaType="Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_SF_Column_List">
        sf.ID,sf.SYS_DICT_CODE_PARENT_ID,sf.REMARK,sf.CREATE_BY,sf.UPDATE_BY
        ,sf.SYS_DICT_CODE_NAME,sf.SYS_DICT_CODE_LEVEL,sf.SYS_DICT_CODE_VALUE,sf.SYS_DICT_CODE_PARENT_VALUE,sf.DEL_FLAG
        ,sf.DISABLED_FLAG,sf.SYS_DICT_CODE_SEQ,sf.CREATE_TIME,sf.UPDATE_TIME
    </sql>
    <sql id="Base_Column_List">
        ID,SYS_DICT_CODE_PARENT_ID,REMARK,CREATE_BY,UPDATE_BY 
        ,SYS_DICT_CODE_NAME,SYS_DICT_CODE_LEVEL,SYS_DICT_CODE_VALUE,SYS_DICT_CODE_PARENT_VALUE,DEL_FLAG 
        ,DISABLED_FLAG,SYS_DICT_CODE_SEQ,CREATE_TIME,UPDATE_TIME
    </sql>


    <!--插入表:sys_data_dict-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
        INSERT INTO sys_data_dict(
            ID
            ,SYS_DICT_CODE_PARENT_ID
            ,REMARK
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_DICT_CODE_NAME
            ,SYS_DICT_CODE_LEVEL
            ,SYS_DICT_CODE_VALUE
            ,SYS_DICT_CODE_PARENT_VALUE
            ,DEL_FLAG
            ,DISABLED_FLAG
            ,SYS_DICT_CODE_SEQ
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
             null
            , #{sysDictCodeParentId,jdbcType=BIGINT}
            , #{remark,jdbcType=VARCHAR}
            , #{createBy,jdbcType=VARCHAR}
            , #{updateBy,jdbcType=VARCHAR}
            , #{sysDictCodeName,jdbcType=VARCHAR}
            , #{sysDictCodeLevel,jdbcType=VARCHAR}
            , #{sysDictCodeValue,jdbcType=VARCHAR}
            , #{sysDictCodeParentValue,jdbcType=VARCHAR}
            , #{delFlag,jdbcType=INTEGER}
            , #{disabledFlag,jdbcType=INTEGER}
            , #{sysDictCodeSeq,jdbcType=INTEGER}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{updateTime,jdbcType=TIMESTAMP}
        )
        ]]>
    </insert>

    <!--批量插入表:sys_data_dict-->
    <insert id="insertBatch" >
        INSERT INTO sys_data_dict(
            ID
            ,SYS_DICT_CODE_PARENT_ID
            ,REMARK
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_DICT_CODE_NAME
            ,SYS_DICT_CODE_LEVEL
            ,SYS_DICT_CODE_VALUE
            ,SYS_DICT_CODE_PARENT_VALUE
            ,DEL_FLAG
            ,DISABLED_FLAG
            ,SYS_DICT_CODE_SEQ
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
                 null
                , #{item.sysDictCodeParentId,jdbcType=BIGINT}
                , #{item.remark,jdbcType=VARCHAR}
                , #{item.createBy,jdbcType=VARCHAR}
                , #{item.updateBy,jdbcType=VARCHAR}
                , #{item.sysDictCodeName,jdbcType=VARCHAR}
                , #{item.sysDictCodeLevel,jdbcType=VARCHAR}
                , #{item.sysDictCodeValue,jdbcType=VARCHAR}
                , #{item.sysDictCodeParentValue,jdbcType=VARCHAR}
                , #{item.delFlag,jdbcType=INTEGER}
                , #{item.disabledFlag,jdbcType=INTEGER}
                , #{item.sysDictCodeSeq,jdbcType=INTEGER}
                , #{item.createTime,jdbcType=TIMESTAMP}
                , #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--根据主键删除数据:sys_data_dict-->
    <delete id="deleteById" >
        <![CDATA[
        DELETE /*MS-SYS-DATA-DICT-DELETEBYID*/ FROM sys_data_dict
        WHERE
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </delete>

    <!--根据主键获取数据:sys_data_dict-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT /*MS-SYS-DATA-DICT-GETBYID*/  <include refid="Base_Column_List" />
        FROM sys_data_dict
        WHERE
        <![CDATA[
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </select>
</mapper>
