<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.DBPreCheckMapper">
    <select id="dbColumnCheck" resultType="String">
        SELECT CONCAT('表结构不一致 tbName:',tb_name,' 期望字段:',exp_columns,' 数据库中字段:',db_columns) as msg
        FROM (
        SELECT
            COUNT(*)= 11 as fg,'sys_bug' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,UUID,CREATE_BY,UPDATE_BY,SYS_PRODUCT_IMG,SYS_PRODUCT_NAME,SYS_PRODUCT_REPLY,SYS_PRODUCT_DETAIL,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_bug'
            AND COLUMN_NAME in('ID','UUID','CREATE_BY','UPDATE_BY','SYS_PRODUCT_IMG','SYS_PRODUCT_NAME','SYS_PRODUCT_REPLY','SYS_PRODUCT_DETAIL','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 11 as fg,'sys_role_user' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,ROLE_ID,USER_ID,TENANT_ID,UUID,CREATE_BY,UPDATE_BY,DEL_FLAG,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role_user'
            AND COLUMN_NAME in('ID','ROLE_ID','USER_ID','TENANT_ID','UUID','CREATE_BY','UPDATE_BY','DEL_FLAG','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 15 as fg,'sys_routes' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'UUID,SYS_ID,REMARK,SYS_URI,SYS_NAME,CREATE_BY,UPDATE_BY,SYS_FILTERS,SYS_PREDICATES,P_ID,DEL_FLAG,SYS_ORDER,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_routes'
            AND COLUMN_NAME in('UUID','SYS_ID','REMARK','SYS_URI','SYS_NAME','CREATE_BY','UPDATE_BY','SYS_FILTERS','SYS_PREDICATES','P_ID','DEL_FLAG','SYS_ORDER','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 15 as fg,'sys_user_account_pwd' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,TENANT_ID,SYS_USER_ID,UUID,REMARK,CREATE_BY,UPDATE_BY,SYS_USER_PWD,SYS_USER_AUTH_SALT,SYS_USER_LOGIN_NAME,DEL_FLAG,DISABLED_FLAG,SYS_LOGIN_NUMBER,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_user_account_pwd'
            AND COLUMN_NAME in('ID','TENANT_ID','SYS_USER_ID','UUID','REMARK','CREATE_BY','UPDATE_BY','SYS_USER_PWD','SYS_USER_AUTH_SALT','SYS_USER_LOGIN_NAME','DEL_FLAG','DISABLED_FLAG','SYS_LOGIN_NUMBER','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 12 as fg,'sys_role' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,TENANT_ID,UUID,REMARK,CREATE_BY,UPDATE_BY,SYS_ROLE_NAME,DEL_FLAG,SYS_ROLE_TYPE,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role'
            AND COLUMN_NAME in('ID','TENANT_ID','UUID','REMARK','CREATE_BY','UPDATE_BY','SYS_ROLE_NAME','DEL_FLAG','SYS_ROLE_TYPE','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 17 as fg,'sys_user_group' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,UUID,REMARK,NAME_TOP,CREATE_BY,UPDATE_BY,NAME_BOTTOM,USER_GROUP_NAME,DEL_FLAG,SYS_OPEN_DAY,DISABLED_FLAG,SYS_OPEN_ACCOUNT_NUM,SYS_CREATE_ACCOUNT_NUM,CREATE_TIME,UPDATE_TIME,SYS_ACCOUNT_END_TIME,SYS_ACCOUNT_START_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_user_group'
            AND COLUMN_NAME in('ID','UUID','REMARK','NAME_TOP','CREATE_BY','UPDATE_BY','NAME_BOTTOM','USER_GROUP_NAME','DEL_FLAG','SYS_OPEN_DAY','DISABLED_FLAG','SYS_OPEN_ACCOUNT_NUM','SYS_CREATE_ACCOUNT_NUM','CREATE_TIME','UPDATE_TIME','SYS_ACCOUNT_END_TIME','SYS_ACCOUNT_START_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 16 as fg,'sys_login_log' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,USER_ID,TENANT_ID,UUID,USER_IP,CREATE_BY,UPDATE_BY,USER_LOGIN_SYS,USER_USER_NAME,USER_LOGIN_NAME,USER_LOGIN_DEVICE,USER_LOGIN_BROWSER,DISABLED_FLAG,USER_LOGIN_TYPE,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_login_log'
            AND COLUMN_NAME in('ID','USER_ID','TENANT_ID','UUID','USER_IP','CREATE_BY','UPDATE_BY','USER_LOGIN_SYS','USER_USER_NAME','USER_LOGIN_NAME','USER_LOGIN_DEVICE','USER_LOGIN_BROWSER','DISABLED_FLAG','USER_LOGIN_TYPE','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 19 as fg,'sys_user' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,TENANT_ID,SYS_USER_AREA,SYS_USER_CITY,SYS_USER_PROVINCE,UUID,REMARK,CREATE_BY,UPDATE_BY,SYS_USER_NAME,SYS_USER_EMAIL,SYS_USER_PHONE,SYS_USER_AREA_NAME,SYS_USER_CITY_NAME,SYS_USER_PROVINCE_NAME,DEL_FLAG,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_user'
            AND COLUMN_NAME in('ID','TENANT_ID','SYS_USER_AREA','SYS_USER_CITY','SYS_USER_PROVINCE','UUID','REMARK','CREATE_BY','UPDATE_BY','SYS_USER_NAME','SYS_USER_EMAIL','SYS_USER_PHONE','SYS_USER_AREA_NAME','SYS_USER_CITY_NAME','SYS_USER_PROVINCE_NAME','DEL_FLAG','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 2 as fg,'sys_website_visible' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,VISIBLE_NUMBER' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_website_visible'
            AND COLUMN_NAME in('ID','VISIBLE_NUMBER')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 11 as fg,'sys_user_dept' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,TENANT_ID,SYS_DEPT_ID,SYS_USER_ID,UUID,CREATE_BY,UPDATE_BY,DEL_FLAG,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_user_dept'
            AND COLUMN_NAME in('ID','TENANT_ID','SYS_DEPT_ID','SYS_USER_ID','UUID','CREATE_BY','UPDATE_BY','DEL_FLAG','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 17 as fg,'sys_data_dict' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_DICT_CODE_PARENT_ID,REMARK,CREATE_BY,UPDATE_BY,SYS_DICT_CODE_NAME,SYS_DICT_CODE_LEVEL,SYS_DICT_CODE_VALUE,SYS_DICT_CODE_HTML_LEFT,SYS_DICT_CODE_HTML_RIGHT,SYS_DICT_CODE_PARENT_VALUE,DEL_FLAG,DISABLED_FLAG,SYS_DICT_CODE_SEQ,SYS_DICT_CODE_HTML_APPLY,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_data_dict'
            AND COLUMN_NAME in('ID','SYS_DICT_CODE_PARENT_ID','REMARK','CREATE_BY','UPDATE_BY','SYS_DICT_CODE_NAME','SYS_DICT_CODE_LEVEL','SYS_DICT_CODE_VALUE','SYS_DICT_CODE_HTML_LEFT','SYS_DICT_CODE_HTML_RIGHT','SYS_DICT_CODE_PARENT_VALUE','DEL_FLAG','DISABLED_FLAG','SYS_DICT_CODE_SEQ','SYS_DICT_CODE_HTML_APPLY','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 12 as fg,'sys_role_acl' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_ACL_ID,TENANT_ID,SYS_ROLE_ID,UUID,CREATE_BY,UPDATE_BY,SYS_ACL_PERMISSION_CODE,DEL_FLAG,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role_acl'
            AND COLUMN_NAME in('ID','SYS_ACL_ID','TENANT_ID','SYS_ROLE_ID','UUID','CREATE_BY','UPDATE_BY','SYS_ACL_PERMISSION_CODE','DEL_FLAG','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 22 as fg,'sys_acl' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_ACL_PARENT_ID,UUID,REMARK,CREATE_BY,UPDATE_BY,SYS_ACL_URL,SYS_ACL_CODE,SYS_ACL_ICON,SYS_ACL_NAME,SYS_ACL_LEVEL,SYS_ACL_ACTION,SYS_ACL_ROUTER,SYS_ACL_COMPONENT_NAME,SYS_ACL_PERMISSION_CODE,DEL_FLAG,SYS_ACL_SEQ,SYS_ACL_TYPE,SYS_ACL_FRAME,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_acl'
            AND COLUMN_NAME in('ID','SYS_ACL_PARENT_ID','UUID','REMARK','CREATE_BY','UPDATE_BY','SYS_ACL_URL','SYS_ACL_CODE','SYS_ACL_ICON','SYS_ACL_NAME','SYS_ACL_LEVEL','SYS_ACL_ACTION','SYS_ACL_ROUTER','SYS_ACL_COMPONENT_NAME','SYS_ACL_PERMISSION_CODE','DEL_FLAG','SYS_ACL_SEQ','SYS_ACL_TYPE','SYS_ACL_FRAME','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 16 as fg,'sys_data_dict_dels' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_DICT_CODE_ID,REMARK,CREATE_BY,UPDATE_BY,SYS_DICT_DELS_NAME,SYS_DICT_CODE_VALUE,SYS_DICT_DELS_VALUE,SYS_DICT_CODE_HTML_LEFT,SYS_DICT_CODE_HTML_RIGHT,DEL_FLAG,DISABLED_FLAG,SYS_DICT_DELS_SEQ,SYS_DICT_CODE_HTML_APPLY,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_data_dict_dels'
            AND COLUMN_NAME in('ID','SYS_DICT_CODE_ID','REMARK','CREATE_BY','UPDATE_BY','SYS_DICT_DELS_NAME','SYS_DICT_CODE_VALUE','SYS_DICT_DELS_VALUE','SYS_DICT_CODE_HTML_LEFT','SYS_DICT_CODE_HTML_RIGHT','DEL_FLAG','DISABLED_FLAG','SYS_DICT_DELS_SEQ','SYS_DICT_CODE_HTML_APPLY','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 14 as fg,'sys_dept' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,TENANT_ID,SYS_DEPT_PARENT_ID,REMARK,CREATE_BY,UPDATE_BY,SYS_DEPT_NAME,SYS_DEPT_LEVEL,DEL_FLAG,SYS_IS_LEAF,SYS_DEPT_SEQ,DISABLED_FLAG,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_dept'
            AND COLUMN_NAME in('ID','TENANT_ID','SYS_DEPT_PARENT_ID','REMARK','CREATE_BY','UPDATE_BY','SYS_DEPT_NAME','SYS_DEPT_LEVEL','DEL_FLAG','SYS_IS_LEAF','SYS_DEPT_SEQ','DISABLED_FLAG','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
        )a
        WHERE fg=0
    </select>
</mapper>
