<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.DeptDOMapper">
    <!-- 自动生成,请修改 SYS_DEPT.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.DeptDO">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" javaType="Long"/>
        <result column="sys_dept_parent_id" property="sysDeptParentId" jdbcType="BIGINT" javaType="Long"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dept_name" property="sysDeptName" jdbcType="VARCHAR" javaType="String"/>
        <result column="sys_dept_level" property="sysDeptLevel" jdbcType="VARCHAR" javaType="String"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER" javaType="Integer"/>
        <result column="sys_is_leaf" property="sysIsLeaf" jdbcType="INTEGER" javaType="Integer"/>
        <result column="sys_dept_seq" property="sysDeptSeq" jdbcType="INTEGER" javaType="Integer"/>
        <result column="disabled_flag" property="disabledFlag" jdbcType="INTEGER" javaType="Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_SF_Column_List">
        sf.ID,sf.GROUP_ID,sf.SYS_DEPT_PARENT_ID,sf.UUID,sf.REMARK
        ,sf.CREATE_BY,sf.UPDATE_BY,sf.SYS_DEPT_NAME,sf.SYS_DEPT_LEVEL,sf.FLAG
        ,sf.DEL_FLAG,sf.SYS_IS_LEAF,sf.SYS_DEPT_SEQ,sf.CREATE_TIME,sf.UPDATE_TIME
    </sql>
    <sql id="Base_Column_List">
        ID,GROUP_ID,SYS_DEPT_PARENT_ID,UUID,REMARK 
        ,CREATE_BY,UPDATE_BY,SYS_DEPT_NAME,SYS_DEPT_LEVEL,FLAG 
        ,DEL_FLAG,SYS_IS_LEAF,SYS_DEPT_SEQ,CREATE_TIME,UPDATE_TIME
    </sql>


    <!--插入表:sys_dept-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
        INSERT INTO sys_dept(
            ID
            ,GROUP_ID
            ,SYS_DEPT_PARENT_ID
            ,UUID
            ,REMARK
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_DEPT_NAME
            ,SYS_DEPT_LEVEL
            ,FLAG
            ,DEL_FLAG
            ,SYS_IS_LEAF
            ,SYS_DEPT_SEQ
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
             null
            , #{groupId,jdbcType=BIGINT}
            , #{sysDeptParentId,jdbcType=BIGINT}
            , #{uuid,jdbcType=VARCHAR}
            , #{remark,jdbcType=VARCHAR}
            , #{createBy,jdbcType=VARCHAR}
            , #{updateBy,jdbcType=VARCHAR}
            , #{sysDeptName,jdbcType=VARCHAR}
            , #{sysDeptLevel,jdbcType=VARCHAR}
            , #{flag,jdbcType=INTEGER}
            , #{delFlag,jdbcType=INTEGER}
            , #{sysIsLeaf,jdbcType=INTEGER}
            , #{sysDeptSeq,jdbcType=INTEGER}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{updateTime,jdbcType=TIMESTAMP}
        )
        ]]>
    </insert>

    <!--批量插入表:sys_dept-->
    <insert id="insertBatch" >
        INSERT INTO sys_dept(
            ID
            ,GROUP_ID
            ,SYS_DEPT_PARENT_ID
            ,UUID
            ,REMARK
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_DEPT_NAME
            ,SYS_DEPT_LEVEL
            ,FLAG
            ,DEL_FLAG
            ,SYS_IS_LEAF
            ,SYS_DEPT_SEQ
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
                 null
                , #{item.groupId,jdbcType=BIGINT}
                , #{item.sysDeptParentId,jdbcType=BIGINT}
                , #{item.uuid,jdbcType=VARCHAR}
                , #{item.remark,jdbcType=VARCHAR}
                , #{item.createBy,jdbcType=VARCHAR}
                , #{item.updateBy,jdbcType=VARCHAR}
                , #{item.sysDeptName,jdbcType=VARCHAR}
                , #{item.sysDeptLevel,jdbcType=VARCHAR}
                , #{item.flag,jdbcType=INTEGER}
                , #{item.delFlag,jdbcType=INTEGER}
                , #{item.sysIsLeaf,jdbcType=INTEGER}
                , #{item.sysDeptSeq,jdbcType=INTEGER}
                , #{item.createTime,jdbcType=TIMESTAMP}
                , #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--根据主键删除数据:sys_dept-->
    <delete id="deleteById" >
        <![CDATA[
        DELETE /*MS-SYS-DEPT-DELETEBYID*/ FROM sys_dept
        WHERE
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </delete>

    <!--根据主键获取数据:sys_dept-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT /*MS-SYS-DEPT-GETBYID*/  <include refid="Base_Column_List" />
        FROM sys_dept
        WHERE
        <![CDATA[
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <!--根据普通索引SysDeptUuid获取数据:sys_dept-->
    <select id="queryBySysDeptUuid" resultMap="BaseResultMap">
        SELECT /*MS-SYS-DEPT-QUERYBYSYSDEPTUUID*/  <include refid="Base_Column_List" />
        FROM sys_dept
        WHERE
        <![CDATA[
            UUID            = #{uuid,jdbcType=VARCHAR}
        ]]>
    </select>
</mapper>
