<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.LoginLogDOMapper">
    <!-- 自动生成,请修改 SYS_LOGIN_LOG.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.LoginLogDO">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="user_id" property="userId" jdbcType="BIGINT" javaType="Long"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" javaType="Long"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_ip" property="userIp" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_login_sys" property="userLoginSys" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_user_name" property="userUserName" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_login_device" property="userLoginDevice" jdbcType="VARCHAR" javaType="String"/>
        <result column="user_login_browser" property="userLoginBrowser" jdbcType="VARCHAR" javaType="String"/>
        <result column="disabled_flag" property="disabledFlag" jdbcType="INTEGER" javaType="Integer"/>
        <result column="user_login_type" property="userLoginType" jdbcType="INTEGER" javaType="Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_SF_Column_List">
        sf.ID,sf.USER_ID,sf.GROUP_ID,sf.UUID,sf.USER_IP
        ,sf.CREATE_BY,sf.UPDATE_BY,sf.USER_LOGIN_SYS,sf.USER_USER_NAME,sf.USER_LOGIN_NAME
        ,sf.USER_LOGIN_DEVICE,sf.USER_LOGIN_BROWSER,sf.FLAG,sf.USER_LOGIN_TYPE,sf.CREATE_TIME
        ,sf.UPDATE_TIME
    </sql>
    <sql id="Base_Column_List">
        ID,USER_ID,GROUP_ID,UUID,USER_IP 
        ,CREATE_BY,UPDATE_BY,USER_LOGIN_SYS,USER_USER_NAME,USER_LOGIN_NAME 
        ,USER_LOGIN_DEVICE,USER_LOGIN_BROWSER,FLAG,USER_LOGIN_TYPE,CREATE_TIME 
        ,UPDATE_TIME
    </sql>


    <!--插入表:sys_login_log-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
        INSERT INTO sys_login_log(
            ID
            ,USER_ID
            ,GROUP_ID
            ,UUID
            ,USER_IP
            ,CREATE_BY
            ,UPDATE_BY
            ,USER_LOGIN_SYS
            ,USER_USER_NAME
            ,USER_LOGIN_NAME
            ,USER_LOGIN_DEVICE
            ,USER_LOGIN_BROWSER
            ,FLAG
            ,USER_LOGIN_TYPE
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
             null
            , #{userId,jdbcType=BIGINT}
            , #{groupId,jdbcType=BIGINT}
            , #{uuid,jdbcType=VARCHAR}
            , #{userIp,jdbcType=VARCHAR}
            , #{createBy,jdbcType=VARCHAR}
            , #{updateBy,jdbcType=VARCHAR}
            , #{userLoginSys,jdbcType=VARCHAR}
            , #{userUserName,jdbcType=VARCHAR}
            , #{userLoginName,jdbcType=VARCHAR}
            , #{userLoginDevice,jdbcType=VARCHAR}
            , #{userLoginBrowser,jdbcType=VARCHAR}
            , #{flag,jdbcType=INTEGER}
            , #{userLoginType,jdbcType=INTEGER}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{updateTime,jdbcType=TIMESTAMP}
        )
        ]]>
    </insert>

    <!--批量插入表:sys_login_log-->
    <insert id="insertBatch" >
        INSERT INTO sys_login_log(
            ID
            ,USER_ID
            ,GROUP_ID
            ,UUID
            ,USER_IP
            ,CREATE_BY
            ,UPDATE_BY
            ,USER_LOGIN_SYS
            ,USER_USER_NAME
            ,USER_LOGIN_NAME
            ,USER_LOGIN_DEVICE
            ,USER_LOGIN_BROWSER
            ,FLAG
            ,USER_LOGIN_TYPE
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
                 null
                , #{item.userId,jdbcType=BIGINT}
                , #{item.groupId,jdbcType=BIGINT}
                , #{item.uuid,jdbcType=VARCHAR}
                , #{item.userIp,jdbcType=VARCHAR}
                , #{item.createBy,jdbcType=VARCHAR}
                , #{item.updateBy,jdbcType=VARCHAR}
                , #{item.userLoginSys,jdbcType=VARCHAR}
                , #{item.userUserName,jdbcType=VARCHAR}
                , #{item.userLoginName,jdbcType=VARCHAR}
                , #{item.userLoginDevice,jdbcType=VARCHAR}
                , #{item.userLoginBrowser,jdbcType=VARCHAR}
                , #{item.flag,jdbcType=INTEGER}
                , #{item.userLoginType,jdbcType=INTEGER}
                , #{item.createTime,jdbcType=TIMESTAMP}
                , #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--根据主键删除数据:sys_login_log-->
    <delete id="deleteById" >
        <![CDATA[
        DELETE /*MS-SYS-LOGIN-LOG-DELETEBYID*/ FROM sys_login_log
        WHERE
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </delete>

    <!--根据主键获取数据:sys_login_log-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT /*MS-SYS-LOGIN-LOG-GETBYID*/  <include refid="Base_Column_List" />
        FROM sys_login_log
        WHERE
        <![CDATA[
            ID = #{id,jdbcType=BIGINT}
        ]]>
    </select>
</mapper>
