<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.RoleAclDOMapper">
    <!-- 自动生成,请修改 SYS_ROLE_ACL.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.RoleAclDO">
            <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
            <result column="GROUP_ID" property="groupId" jdbcType="BIGINT" javaType="Long"/>
            <result column="SYS_ACL_ID" property="sysAclId" jdbcType="BIGINT" javaType="Long"/>
            <result column="SYS_ROLE_ID" property="sysRoleId" jdbcType="BIGINT" javaType="Long"/>
            <result column="SYS_ACL_PERMISSION_TYPE" property="sysAclPermissionType" jdbcType="BIGINT" javaType="Long"/>
            <result column="UUID" property="uuid" jdbcType="VARCHAR" javaType="String"/>
            <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="FLAG" property="flag" jdbcType="INTEGER" javaType="Integer"/>
            <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" javaType="Integer"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,GROUP_ID,SYS_ACL_ID,SYS_ROLE_ID,SYS_ACL_PERMISSION_TYPE,UUID,CREATE_BY,UPDATE_BY,FLAG,DEL_FLAG,CREATE_TIME,UPDATE_TIME
    </sql>


        <!--插入表:SYS_ROLE_ACL-->
        <insert id="insert" >
                    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
                SELECT
                LAST_INSERT_ID()
            </selectKey>
        INSERT INTO SYS_ROLE_ACL(
            
            GROUP_ID
            ,SYS_ACL_ID
            ,SYS_ROLE_ID
            ,SYS_ACL_PERMISSION_TYPE
            ,DEL_FLAG
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_ROLE_ACL_UUID
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
            
            #{groupId,jdbcType=BIGINT}
            ,#{sysAclId,jdbcType=BIGINT}
            ,#{sysRoleId,jdbcType=BIGINT}
            ,#{sysAclPermissionType,jdbcType=BIGINT}
            ,#{delFlag,jdbcType=CHAR}
            ,#{createBy,jdbcType=VARCHAR}
            ,#{updateBy,jdbcType=VARCHAR}
            ,#{sysRoleAclUuid,jdbcType=VARCHAR}
            ,#{createTime,jdbcType=TIMESTAMP}
            ,#{updateTime,jdbcType=TIMESTAMP}
        )
        </insert>

        <!--更新表:SYS_ROLE_ACL-->
        <update id="update" >
                    UPDATE /*MS-SYS-ROLE-ACL-UPDATE*/ SYS_ROLE_ACL
            SET
                    GROUP_ID        = #{groupId,jdbcType=BIGINT}
                    ,SYS_ACL_ID      = #{sysAclId,jdbcType=BIGINT}
                    ,SYS_ROLE_ID     = #{sysRoleId,jdbcType=BIGINT}
                    ,SYS_ACL_PERMISSION_TYPE = #{sysAclPermissionType,jdbcType=BIGINT}
                    ,DEL_FLAG        = #{delFlag,jdbcType=CHAR}
                    ,CREATE_BY       = #{createBy,jdbcType=VARCHAR}
                    ,UPDATE_BY       = #{updateBy,jdbcType=VARCHAR}
                    ,SYS_ROLE_ACL_UUID = #{sysRoleAclUuid,jdbcType=VARCHAR}
                    ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
                    ,UPDATE_TIME     = #{updateTime,jdbcType=TIMESTAMP}
            WHERE
                ID              = #{id,jdbcType=BIGINT}
        </update>

        <!--根据主键删除数据:SYS_ROLE_ACL-->
        <delete id="deleteById" >
                    DELETE /*MS-SYS-ROLE-ACL-DELETEBYID*/ FROM SYS_ROLE_ACL
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </delete>

        <!--根据主键获取数据:SYS_ROLE_ACL-->
        <select id="getById" resultMap="BaseResultMap">
                    SELECT /*MS-SYS-ROLE-ACL-GETBYID*/  <include refid="Base_Column_List" /> FROM SYS_ROLE_ACL
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </select>
</mapper>
