<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.RoutesDOMapper">
    <!-- 自动生成,请修改 SYS_ROUTES.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.RoutesDO">
            <result column="UUID" property="uuid" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" javaType="String"/>
            <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_URI" property="sysUri" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_NAME" property="sysName" jdbcType="VARCHAR" javaType="String"/>
            <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_FILTERS" property="sysFilters" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_PREDICATES" property="sysPredicates" jdbcType="VARCHAR" javaType="String"/>
            <result column="P_ID" property="pId" jdbcType="INTEGER" javaType="Integer"/>
            <result column="FLAG" property="flag" jdbcType="INTEGER" javaType="Integer"/>
            <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" javaType="Integer"/>
            <result column="SYS_ORDER" property="sysOrder" jdbcType="INTEGER" javaType="Integer"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        UUID,SYS_ID,REMARK,SYS_URI,SYS_NAME,CREATE_BY,UPDATE_BY,SYS_FILTERS,SYS_PREDICATES,P_ID,FLAG,DEL_FLAG,SYS_ORDER,CREATE_TIME,UPDATE_TIME
    </sql>


        <!--插入表:SYS_ROUTES-->
        <insert id="insert" >
                    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
                SELECT
                LAST_INSERT_ID()
            </selectKey>
        INSERT INTO SYS_ROUTES(
            SYS_ID
            SYS_URI
            ,SYS_NAME
            ,SYS_FILTERS
            ,SYS_PREDICATES
            ,P_ID
            ,SYS_ORDER
        )VALUES(
            #{sysId,jdbcType=VARCHAR}
            #{sysUri,jdbcType=VARCHAR}
            ,#{sysName,jdbcType=VARCHAR}
            ,#{sysFilters,jdbcType=VARCHAR}
            ,#{sysPredicates,jdbcType=VARCHAR}
            ,#{pId,jdbcType=INTEGER}
            ,#{sysOrder,jdbcType=INTEGER}
        )
        </insert>

        <!--更新表:SYS_ROUTES-->
        <update id="update" >
                    UPDATE /*MS-SYS-ROUTES-UPDATE*/ SYS_ROUTES
            SET
                    SYS_ID          = #{sysId,jdbcType=VARCHAR}
                    ,SYS_URI         = #{sysUri,jdbcType=VARCHAR}
                    ,SYS_NAME        = #{sysName,jdbcType=VARCHAR}
                    ,SYS_FILTERS     = #{sysFilters,jdbcType=VARCHAR}
                    ,SYS_PREDICATES  = #{sysPredicates,jdbcType=VARCHAR}
                    ,SYS_ORDER       = #{sysOrder,jdbcType=INTEGER}
            WHERE
                P_ID            = #{pId,jdbcType=INTEGER}
        </update>

        <!--根据主键删除数据:SYS_ROUTES-->
        <delete id="deleteByPId" >
                    DELETE /*MS-SYS-ROUTES-DELETEBYPID*/ FROM SYS_ROUTES
            WHERE
                P_ID = #{pId,jdbcType=INTEGER}
        </delete>

        <!--根据主键获取数据:SYS_ROUTES-->
        <select id="getByPId" resultMap="BaseResultMap">
                    SELECT /*MS-SYS-ROUTES-GETBYPID*/  <include refid="Base_Column_List" /> FROM SYS_ROUTES
            WHERE
                P_ID = #{pId,jdbcType=INTEGER}
        </select>
</mapper>
