<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.UserAccountPwdDOMapper">
    <!-- 自动生成,请修改 SYS_USER_ACCOUNT_PWD.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.UserAccountPwdDO">
            <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
            <result column="GROUP_ID" property="groupId" jdbcType="BIGINT" javaType="Long"/>
            <result column="SYS_USER_ID" property="sysUserId" jdbcType="BIGINT" javaType="Long"/>
            <result column="UUID" property="uuid" jdbcType="VARCHAR" javaType="String"/>
            <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
            <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_USER_PWD" property="sysUserPwd" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_USER_AUTH_SALT" property="sysUserAuthSalt" jdbcType="VARCHAR" javaType="String"/>
            <result column="SYS_USER_LOGIN_NAME" property="sysUserLoginName" jdbcType="VARCHAR" javaType="String"/>
            <result column="STATUS" property="status" jdbcType="INTEGER" javaType="Integer"/>
            <result column="DEL_FLAG" property="delFlag" jdbcType="INTEGER" javaType="Integer"/>
            <result column="SYS_LOGIN_NUMBER" property="sysLoginNumber" jdbcType="INTEGER" javaType="Integer"/>
            <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,GROUP_ID,SYS_USER_ID,UUID,REMARK,CREATE_BY,UPDATE_BY,SYS_USER_PWD,SYS_USER_AUTH_SALT,SYS_USER_LOGIN_NAME,STATUS,DEL_FLAG,SYS_LOGIN_NUMBER,CREATE_TIME,UPDATE_TIME
    </sql>


        <!--插入表:SYS_USER_ACCOUNT_PWD-->
        <insert id="insert" >
                    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
                SELECT
                LAST_INSERT_ID()
            </selectKey>
        INSERT INTO SYS_USER_ACCOUNT_PWD(
            
            SYS_USER_ID
            ,REMARK
            ,CREATE_BY
            ,UPDATE_BY
            ,SYS_USER_PWD
            ,SYS_USER_AUTH_SALT
            ,SYS_USER_LOGIN_NAME
            ,STATUS
            ,DEL_FLAG
            ,CREATE_TIME
            ,UPDATE_TIME
        )VALUES(
            
            #{sysUserId,jdbcType=BIGINT}
            ,#{remark,jdbcType=VARCHAR}
            ,#{createBy,jdbcType=VARCHAR}
            ,#{updateBy,jdbcType=VARCHAR}
            ,#{sysUserPwd,jdbcType=VARCHAR}
            ,#{sysUserAuthSalt,jdbcType=VARCHAR}
            ,#{sysUserLoginName,jdbcType=VARCHAR}
            ,#{status,jdbcType=INTEGER}
            ,#{delFlag,jdbcType=INTEGER}
            ,#{createTime,jdbcType=TIMESTAMP}
            ,#{updateTime,jdbcType=TIMESTAMP}
        )
        </insert>

        <!--更新表:SYS_USER_ACCOUNT_PWD-->
        <update id="update" >
                    UPDATE /*MS-SYS-USER-ACCOUNT-PWD-UPDATE*/ SYS_USER_ACCOUNT_PWD
            SET
                    SYS_USER_ID     = #{sysUserId,jdbcType=BIGINT}
                    ,REMARK          = #{remark,jdbcType=VARCHAR}
                    ,CREATE_BY       = #{createBy,jdbcType=VARCHAR}
                    ,UPDATE_BY       = #{updateBy,jdbcType=VARCHAR}
                    ,SYS_USER_PWD    = #{sysUserPwd,jdbcType=VARCHAR}
                    ,SYS_USER_AUTH_SALT = #{sysUserAuthSalt,jdbcType=VARCHAR}
                    ,SYS_USER_LOGIN_NAME = #{sysUserLoginName,jdbcType=VARCHAR}
                    ,STATUS          = #{status,jdbcType=INTEGER}
                    ,DEL_FLAG        = #{delFlag,jdbcType=INTEGER}
                    ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
                    ,UPDATE_TIME     = #{updateTime,jdbcType=TIMESTAMP}
            WHERE
                ID              = #{id,jdbcType=BIGINT}
        </update>

        <!--根据主键删除数据:SYS_USER_ACCOUNT_PWD-->
        <delete id="deleteById" >
                    DELETE /*MS-SYS-USER-ACCOUNT-PWD-DELETEBYID*/ FROM SYS_USER_ACCOUNT_PWD
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </delete>

        <!--根据主键获取数据:SYS_USER_ACCOUNT_PWD-->
        <select id="getById" resultMap="BaseResultMap">
                    SELECT /*MS-SYS-USER-ACCOUNT-PWD-GETBYID*/  <include refid="Base_Column_List" /> FROM SYS_USER_ACCOUNT_PWD
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </select>
</mapper>
