<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momo.mapper.mapper.WebsiteVisibleDOMapper">
    <!-- 自动生成,请修改 SYS_WEBSITE_VISIBLE.xml -->
    <resultMap id="BaseResultMap"  type="com.momo.mapper.dataobject.WebsiteVisibleDO">
            <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
            <result column="VISIBLE_NUMBER" property="visibleNumber" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,VISIBLE_NUMBER
    </sql>


        <!--插入表:SYS_WEBSITE_VISIBLE-->
        <insert id="insert" >
                    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
                SELECT
                LAST_INSERT_ID()
            </selectKey>
        INSERT INTO SYS_WEBSITE_VISIBLE(
            
            VISIBLE_NUMBER
        )VALUES(
            
            #{visibleNumber,jdbcType=BIGINT}
        )
        </insert>

        <!--更新表:SYS_WEBSITE_VISIBLE-->
        <update id="update" >
                    UPDATE /*MS-SYS-WEBSITE-VISIBLE-UPDATE*/ SYS_WEBSITE_VISIBLE
            SET
                    VISIBLE_NUMBER  = #{visibleNumber,jdbcType=BIGINT}
            WHERE
                ID              = #{id,jdbcType=BIGINT}
        </update>

        <!--根据主键删除数据:SYS_WEBSITE_VISIBLE-->
        <delete id="deleteById" >
                    DELETE /*MS-SYS-WEBSITE-VISIBLE-DELETEBYID*/ FROM SYS_WEBSITE_VISIBLE
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </delete>

        <!--根据主键获取数据:SYS_WEBSITE_VISIBLE-->
        <select id="getById" resultMap="BaseResultMap">
                    SELECT /*MS-SYS-WEBSITE-VISIBLE-GETBYID*/  <include refid="Base_Column_List" /> FROM SYS_WEBSITE_VISIBLE
            WHERE
                ID = #{id,jdbcType=BIGINT}
        </select>
</mapper>
